// ************
//
// Colors
//
// ************




// ************
//
// Spacing
//
// ************

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;




// ************
//
// Breakpoints
//
// ************

$desktop-breakpoint: 45rem;